{% extends "../_base.html" %}
{% load static %}


{% block main %}

<main>
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Sucesso!</h1>
                        <p>Você redefiniu sua senha com sucesso!</p>
                        <p><a href="{% url 'login' %}">Clique aqui para fazer login</a></p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}