{% extends "../_base.html" %}
{% load static %}

{% block main %}

<main>

<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="" method="post" role="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
</main>

  <script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
      input.classList.add('form-control')
      if (input.name == 'username') {
        input.setAttribute('placeholder', 'Username')
      }
      if (input.name == 'email') {
        input.setAttribute('placeholder', 'Email')
      }
    })
    
    let form_elements = document.querySelectorAll('form > *')
    form_elements.forEach((form_element) => {
      form_element.setAttribute('style', 'margin-bottom:15px')
    })
    
    let buttom_submit = document.querySelector('button')
    buttom_submit.setAttribute('style', 'border:none; margin-left:0px;')
    buttom_submit.classList.add('get-started-btn')
  </script>
{% endblock %}